@font-face {
    font-family: '04B_30__';
    src: url(./04B_30__.TTF);
}

@font-face {
    font-family: 'dogica';
    src: url(./dogica.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-image: url(./img/landscape-barn-tractor-byday.jpg);
    background-position: 0 -6em;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(110,125,148);
} 
         
                        /**********HEADER***********/
#fixed-header {
    margin: 0;
    padding: 0;
    width: 100%;
}

#fixed-header h1{
    display: flex;
    justify-content: center;
    

}
h1 {
    font-family: '04B_30__';
    color: #be4c5c;
    font-size: 3em;
}

button{
    border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

#buttons{
    display: flex;
    justify-content: center;
    
}

#start-game img{
    width : 8em;
    height : 2.5em;
}

#restart-game {
    display: none;
    margin-right: 2em;
    width : 6em;
    height : 3em;
}

#restart-game img{
    width: 8em;
    height:2.5em;
}

#music {
    display: none;
    width : 6em;
    height : 3em;
}

#music img{
    width: 3em;
    height: 3em;
}
                        /**********GAME BLOCK***********/


p{
    font-family: 'dogica';
    padding-top: 0.5em;
    padding-left: 4em;
}

#splash-screen{
    width : 100%;
    height : 20.29em;   
}

#splash-screen p{
    width : 500px;
    /* font-size: 1.1em; */
    line-height: 22px;
    text-align: justify;
    padding-left: 20em;
}

#game-screen{
    width : 100vh;
    height : 20.29em;
    display : none;
}



#gameover-screen{
    width : 100%;
    height : 20.29em;
    display: none;    
}

#game-over-txt{
    padding-top: 0.5em;
    padding-left: 8.5em;
    font-size: 48px;

    
}

.player-splash{
    height: 4em;
    margin-top: 9.7em;
    margin-left: 25em;
}

.player-gameover{
    margin-top: 7.4em;
    margin-left: 30em;
} 


